<div class="row" id="submitList">
    <div ng-repeat="result in alpha.submitData" class="col-sm-3" id="submitTable" | orderBy: 'date'>
        <p>
            <strong> {{result.Artist}}</strong>
        </p>
        <p>
            {{result.Venue}}
        </p>
        <p>
            {{result.Address}}
        </p>
        <p>
            {{result.Date | date }}
        </p>
        <p>
            <a href={{result.TicketUrl}}> {{ result.TicketUrl | domain }}</a>
        </p>
        <p>
            <td><button type="submit" ng-click="alpha.submitFollow(result)" class="btn btn-primary" id="unfollowButton">{{result.Follow}}</button></td>
        </p>
    </table>
</div>
